@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
}

body {
  background: #2e5849;
}

.app {
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;
}


.counter {
  margin: 2rem 0 1rem;
  font-size: 1.5em;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 0.5rem 0;
}

.list-item {
  display: block;
  background: #eee;
  border-radius: 3px;
  padding: 1rem;
  margin: 0.5rem 0;
}

.list-item--done {
  opacity: 0.5;
  text-decoration: line-through;
}

